@import "tailwindcss";

.btn {
  @apply rounded-lg border-2 border-[#c4c4c4] py-2 px-4 text-2xl font-extralight bg-transparent text-[#c4c4c4] cursor-pointer transition-all duration-500 relative z-10 overflow-hidden;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: #2c7a7b;
  transition: 0.5s;
  z-index: -1;
}

.btn:hover::before {
  height: 100%;
}
